* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.header {
    text-align: center;
    font-size: 79px;
    padding :20px;
    background-image: image("../images/shadow_dog.png");
}

#canvas {
    width: 1200px;
    height: 600px;
    border: 1px solid #000;
    margin-bottom: 50px;
}